body
    background-color #f6f6ff
    margin 0px
    font-size: 14px

.mtop16
    margin-top 16px

.mtop32
    margin-top 32px

.box

    background-color #fff
    border-radius 8px
    border 1px solid #d6d6d6
    position: absolute
   
    width 500px
    .btn-success 
        background-color #E855722
        //border 0px  
        width 100%

    .inside
        padding 16px

    .header
        position relative
        border-radius: 8px 8px 8px 8px
        padding 16px
        a 
            img
                display block
                margin 0px auto
                width 100px 
.footer
    text-align: center
    a 
        display inline-block
        font-size: 0.8em
        &:last-child
            margin-left: 48px

.footer-register
    text-align: center
    a 
        display inline-block
        font-size: 0.8em
   
.padre-register
    height: 800px;
    display flex
    justify-content center
    align-items center
           
        


.padre
    height: 700px;
    display flex
    justify-content center
    align-items center
